* {
  box-sizing: border-box;
}
h1 {
  margin-top: 50px ;
  margin-bottom: 25px;
  text-align: center ;
  color: black ; 
  font-family: sans-serif;
  font-weight: 700;
  font-style: italic;
}

section {
  background-color: #9E9E9E ;
  color: black ; 
  height: 200px ;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-left: 15px ;
  margin-bottom: 15px ;
  overflow: auto;
}

.title {
  text-align: center; 
  font-family: sans-serif;
  font-weight: 700;
  font-size: 150% ; 
  font-style: italic; 
  float: right;
  border: 1px solid black ;
  padding: 3px 20px 3px 20px  ; 
}

.row {
  width: 100%; 
}
#one {
  background-color: #ED92A2
  
}
#two {
  background-color: #CE3337
}
#three {
  background-color: #E3BE66
}

.hola {
  font-family: sans-serif;
  font-weight: 300;
  margin-top: 10px ;
  clear: both;
  padding: 10px ;
}


@media (min-width:  992px) {
 .col-lg-3{
    float: left;
    width: 33.333%;
  }
}

@media (min-width:  768px) and (max-width: 991px) {
 .col-md-2 {
    float: left;
    width: 50%;
  }
  .col-sm{
    float: left;
    width: 100% ;
  }
}
